body {
        font-family: Arial;
      }

      input {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 50px;
      }

      .button-action {
        background: rgb(0, 123, 255);
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 10px;
      }

      .button-show {
        margin-left: 10px;
      }